<%= form_tag "/get_url/#{course_id}"  do -%>

  <p>Please enter your email address. FHCRC employees, please 
    enter your email with the <b>fredhutch.org</b> domain.</p>
  <p>
    <%= label_tag "Email Address" %><br>
    <%= text_field_tag "email", nil, size: 40 %>
  </p>

  <p>
    <%= label_tag "Course Password" %><br>
    <%= password_field_tag "password" %>
  </p>


 
  <p>
    <%= submit_tag "Submit" %>
  </p>
<% end -%>
